body {
    background: #fff2e5;
    height: 100%;
}

.section{
    font-family: 'Exo 2', sans-serif;    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #91a8ed;

    border-radius: 15px;
    border: 4px solid black;
    box-shadow: 4px 4px rgba(0, 0, 0, 1);
}

.section h1,
.section h2,
.section h3,
.section h4 {
    font-family: 'Exo 2', sans-serif;
    color: black;
    text-shadow: 1px 1px #000000;
}

.section a {
    color: #ff4911;
    font-weight: bold;
}

.visitors{
    margin-top: 20px;
    margin-bottom: 20px;
}